{% extends 'base.html' %}



{% block title %} إنشاء إمتحان  {% endblock title %}


{% block body %}
 <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>التصنيفات</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<section class="about-area section-padding2">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
         {% for field in form %}

    <div class="col">
        {% if field.html_name == 'name' %}
       <label>الأسم</label>
        {% endif %}
          {% if field.html_name == 'TotalResult' %}
       <label>الدرجه الكليه</label>
        {% endif %}
          {% if field.html_name == 'question_number' %}
       <label>عدد الأسئله</label>
        {% endif %}
          {% if field.html_name == 'category' %}
       <label>التصنيف</label>
        {% endif %}
    {{ field }}
    </div>
                    <hr>
                {% endfor %}
        <center>   <button type="submit" class="btn"  >إضافه</button></center>


</form>
</section>


{% endblock body %}


