{% extends 'base.html' %}


{% block title %} الأمتحانات {% endblock title %}



{% block body %}
 <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>التصنيفات</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


  <section class="service-area pt-150 pb-150">
                <div class="container">
            <div class="section-top-border">
					<h3 class="mb-30">Table</h3>
					<div class="progress-table-wrap">
						<div class="progress-table">
							<div class="table-head">
								<div class="serial">#</div>
								<div class="country">الأسم</div>
								<div class="country">الدرجه الكليه</div>
								<div class="country">عدد الأسئله</div>
                                <div class="country">التصنيف</div>

							</div>
=                                <div class="table-row">
								<div class="serial">{{ exam.pk }}</div>
								<div class="country"> <a style="color: black;" href="{% url 'exam-detail' exam.pk %}">{{ exam.name }}</a></div>
								<div class="country">{{ exam.TotalResult }}</div>
								<div class="country">
									{{ exam.question_number }}
								</div>
                                    <div class="country">{{ exam.category.name }} </div>

							</div>
                </div>
                    </div>
            </div>
                </div>
  </section>


{% endblock body %}