{% extends 'main.html' %}
{% load static %}
{% block title  %} منظومة الإمتحانات{% endblock title %}


{% block content %}
<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(../../../static/images/exam.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="#43FCE3 sara">منظومة الإمتحانات الإلكترونية</h1>

{% block content %}
<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(../../../static/images/exam.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="#43FCE3 sara">مركز التحول الرقمي</h1>
							<p class="lead white-text sara"><br> لتكون مصر بين مصاف الدول المتطورة، رقمياً من خلال تنمة إقتصادية مستدامة تعتمد على تعزيز فيم ومفاهيم الإبتكار والإستثمار في المواهب الشابة.
							<a class="main-button icon-button sara"  href="{% url 'register' %}">إنشاء حساب جديد</a>
                            <a class="main-button icon-button sara"  href="{% url 'exam' %}">تسجيل إمتحان جديد</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

{% endblock content %}