{% extends 'base.html' %}
{% block title %} إنشاء حساب {% endblock title %}

{% block body %}
     <div class="slider-area2" style="background-image: url(../images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2 class="body-font">إنشاء حساب</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">شارك</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form"  enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="default-select" id="default-select">
											<select name="opt">
												<option value=" 0">طالب</option>
									<option value="1">مدرس</option>
									</select>
								</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'البريد الألكترونى'" placeholder="البريد الألكترونى">
                                    </div>
                                </div>

                                     <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'كلمة السر'" placeholder="كلمة السر">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="first_name" id="first_name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'الأسم'" placeholder="الأسم">
                                    </div>
                                </div>

                                     <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="last_name" id="last_name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'اسم العائله'" placeholder="اسم العائله">
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="phone" id="phone" type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'الهاتف'" placeholder="الهاتف">
                                    </div>
                                </div>

                                     <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="address" id="address" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'العنوان'" placeholder="العنوان">
                                    </div>
                                </div>
                                      <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="profile_pic" id="picture" type="file" onfocus="this.placeholder = ''" onblur="this.placeholder = 'صوره شخصيه'" placeholder="صوره شخصيه">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                      <div class="form-group">
                                        <input class="form-control valid" name="national_id" id="national id" type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'الرقم القومى'" placeholder="الرقم القومى">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" class="btn" value="إنشاء حساب" name="submit"/>
                            </div>
                        </form>
                    </div>
                    {% if messages %}
                    <div class="row">
                         <div class="col-sm-6 md-12">
                            {% for message in messages %}
                                <div class="alert alert-light"><p>{{ message }}</p></div>
                             {% endfor %}
                         </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="fa fa-map"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Buttonwood, California.</h3>
                                <p>Rosemead, CA 91770</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="fa fa-mobile"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+1 253 565 2365</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="fa fa-envelope"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>support@colorlib.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}